@import "tailwindcss";

@theme {
  --color-yen-black: #000000;
  --color-yen-gold: #fdd131;
  --color-yen-red: #f54432;
  --color-yen-white: #ffffff;

  --font-sans: "Poppins", sans-serif;
  --font-serif: "Merriweather", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #ffffff;
  color: #111111;
}

#app {
  min-height: 100vh;
}